@import "/css/variables.css";
@import "/css/nav-bar.css";
@import "/css/header.css";
@import "/css/header-side-effect.css";
@import "/css/section.css";
@import "/css/footer.css";

body {
  background-color: var(--light-cream);
  display: flex;
  flex-direction: column;
}