:root {
  --light-cream: #F0EEE4;
  --dark-grey: #777777;
  --dark-orange: #F6CF00;
  --txt-dark-orange: #FFC600;
  --lighter-gray: #818F99;
  --font-helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;
}